<div class= "container">
	<h3 class="text-md-center">Encuentra tu Voluntariado</h3>
	<h1 class="text-md-center">APORTA TU GRANITO DE ARENA</h1>
</div>
	<div class="container btn-ong">
	  <div class="row">
	    <div class="col-sm-6">
	    	<%= link_to 'Ongs', ongs_path, class: "btn btn-success-outline btn-block btn-vol" %>
	    </div>
	    <div class="col-sm-6 btn-event">
	      	<%= link_to 'Events', events_path, class: "btn btn-success-outline btn-block btn-vol" %>
	    </div>

  	</div>
	</div>


